/*reglas generales*/
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #e4f1ff;
    font-family: "Inter", sans-serif;
}
label{
    color: #037BC0;
}
.Hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    color: #f2f2f2;
    font-size: 26px;
    background-color: #037BC0;
}

/*Media Query*/

/** Reescribir colores */

/** Productos */
